__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/

.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

.git/
.gitignore
.github/
.vscode/
.idea/

.env
.env.*

tests/
build/
dist/
*.egg-info/
